{% extends "base.html" %}

{% block title %}
Potato Blog | Admin Home
{% endblock %}

{% block main %}
<div id="admin-home" class="container">
  <h2>Admin Home</h2>
  <div class="row">
    <div id="article-admin" class="col-xs-12">
      <div class="row">
        <div class="admin-title col-xs-12">
          <span>Manage Articles</span>
          <a class="add-article" title="Add article" href="{% url 'create_article' %}">
            <i class="fa fa-plus-square pull-right"></i>
          </a>
        </div>
        {% for article in articles %}
          <div class="article-info col-xs-12">
            <a class="col-xs-8" href="{% url 'display_article' article.slug %}">{{ article.title }}</a>
            <a class="col-xs-2" href="{% url 'edit_article' article.slug %}">Edit</a>
            <a class="col-xs-2" href="{% url 'delete_article' article.slug %}">Delete</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}