{% extends 'base.html' %}

{% block title %}
Feed
{% endblock %}

{% block main %}
<div class="container">
  <div id="feed-container"></div>
</div>
{% endblock %}

{% block scripts %}
  {% load staticfiles %}
  <script src="{% static 'js/libs/underscore-min.js' %}"></script>
  <script src="{% static 'js/libs/backbone-min.js' %}"></script>
  <script src="{% static 'js/feed.js' %}"></script>

  <script type="text/template" id="article-preview">
    <div class="image-wrapper col-xs-4 col-sm-2">
      <a href=/feed/<%= slug %>>
        <img src="<%= image %>"/>
        <span class="image-text">Continue Reading</span>
      </a>
    </div>
    <div class="caption col-xs-8 col-sm-10">
      <h3 class="title"><a href="<%= slug %>"><%= title %></a></h3>
      <span class="meta"><%= created_at %></span>
      <span class="author"></span><span class="read-more">Continue reading...</span>
    </div>
  </script>

  <script type="text/template" id="spa-container">
    <i class="fa fa-refresh fa-spin fa-4x col-xs-12"></i>
    <ul id="articles-grid" class="feed"></ul>
    <div id="article" class="article col-xs-12 col-sm-8"></div>
  </script>

  <script type="text/template" id="display-article">
    <h1 class="title"><%= title %></h1>
    <span>Author: <%= author %> | Date: <%= created_at %></span>
    <div class="options">
      <ul class="share">
        <li><i class="fa fa-facebook-official fa-2x"></i></li>
        <li><i class="fa fa-google-plus-square fa-2x"></i></li>
        <li><i class="fa fa-twitter-square fa-2x"></i></li>
        <li><i class="fa fa-pinterest-square fa-2x"></i></li>
      </ul>
      <a class="back display-articles" href="/feed/" title="Back to articles">
        <i class="fa fa-reply fa-2x"></i>
      </a>
    </div>
    <div class="img-container">
      <img src="<%= image %>"/>
    </div>
    <p><%= content %><p>
  </script>
{% endblock %}
