<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
    <link rel="stylesheet/less" href="{% static 'css/main.less' %}" />

    <!-- if we weren't compiling client side this would be at end of body -->
    <script src="{% static 'js/libs/less.min.js' %}"></script>

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'nav.html' %}

    {% block main %}
    {% endblock %}

    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>