{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div class="container">
  <div class="row text-center">
    <div id="login" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <i class="fa fa-arrow-circle-right fa-4x col-xs-12"></i>
      <h2>Enter Your Account Details</h2>
      <form method="post">{% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="Log In" class="col-xs-12"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}